@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://use.typekit.net/zhy0giy.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-freight {
  font-family: 'freight-text-pro', serif;
  font-variant-ligatures: normal; /* Enables common ligatures */
}

body {
  background-color: rgb(255 255 255);
  -webkit-font-smoothing: antialiased;

}

.marquee {
  display: flex;
}

.marquee-list {
  display: flex;
}


@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.marquee-list {
  animation: scroll 45s linear infinite;
}

.marquee-wrapper:hover .marquee-list {
  animation-play-state: paused;
}

.reverse {
  animation-direction: reverse;
}







